# If using Supabase Pooler (port 6543), YOU MUST ADD ?pgbouncer=true to the DATABASE_URL
DATABASE_URL="postgresql://postgres:[PASSWORD]@aws-1-ap-[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true"

# The direct connection (port 5432) is required for Prisma migrations (npx prisma db push)
DIRECT_URL="postgresql://postgres:[PASSWORD]@aws-1-ap-[REGION].pooler.supabase.com:5432/postgres"

JWT_SECRET=Jaimin
