@import "tailwindcss";

@theme {
  --color-bg-primary: #F5F0EB;
  --color-accent-fire: #FB460D;
  --color-text-primary: #141314;
  --color-text-muted: #8A817C;
  --color-surface-dark: #FFFFFF;
  --color-surface-mid: #F0EBE6;
  --color-border-subtle: #EAE4DD;
  --color-accent-fire-dim: #FB460D22;
  --color-white-pure: #FFFFFF;
}

* {
  cursor: none;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar but keep scroll functionality */
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none; /* Firefox */
}
